<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <h3>
    <%= @s_full_name %>
  </h3>
  <h4>Date of last breakdown:</h4>
  <h3>
    <%= @s_date_of_last_breakdown %>
  </h3>
  <h4>Least favorite proffesor:?</h4>
  <h3>
    <%= @s_least_favorite_professor %>
  </h3>
</div>
